*.class
syntaxtree/
visitor/
JavaCharStream.java
minijavaexample.java
minijava-jtb.jj
TokenMgrError.java
Token.java
ParseException.java
MiniJavaParserTokenManager.java
MiniJavaParserConstants.java
MiniJavaParser.java
.vscode/
*.ll
